@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    font-size: 20px;
    text-align: center;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    margin: 0;
}

.navbar {
    box-shadow: 0 0 50px #b5d2cd;
    margin-bottom: 60px;
}

.center-middle {
    width: 60%;
    margin: auto;
}

.flat-div {
    width: 100%;
    height: 200px;
    position: relative;
    margin: auto;
}

.flat-div-left {
    float: left;
    width: 30%;
}

.flat-div-left img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.flat-div-middle {
    float: left;
    width: 40%;
}

.flat-div-middle-top {
    font-size: 14px;
    text-align: left;
    padding: 0 20px;
}

.flat-div-middle-bot {
    font-size: 30px;
}

.flat-div-right {
    float: left;
    width: 30%;
    font-size: 14px;
}

.flat-div-calendar {
    width: 100%;
    float: left;
}
.flat-header {
    margin: 20px auto;
}

.flat-image img{
    width: 80%;
    object-fit: contain;
}
.flat-infos {
    width: 60%;
    margin: auto;
}
.flat-furnishing {
    text-align: left;
    margin-left: 40%;
}
.flat-booking {
    padding-bottom: 70px;
}

hr {
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}
.legende {
    margin: 10px;
    border: none;
    float: left;
    text-align: center;
    font-size: 18px;
}
.legende-gebucht-colorfield {
    background-color: #cf9c9e;
}
.legende-reserviert-colorfield{
    background-color: #e5e191;
}

.kalendar {
    margin: 20px;
    border-collapse: collapse;
    float: left;
    text-align: center;
    font-size: 18px;
}

.table-day {
    background-color: #9ccfc5;
}
.table-calendarday {
    border-collapse: collapse;
}
.table-reserviert {
    background-color: #e5e191;
}
.table-start-reserviert {
    background-image: url("../images/table-gebucht-half-right.png");
    background-position: center;
}
.table-end-reserviert {
    background-image: url("../images/table-gebucht-half-left.png");
    background-position: center;
}
.table-gebucht {
     background-color: #cf9c9e;
}
.table-start-gebucht {
    background-image: url("../images/table-reserviert-half-right.png");
    background-position: center;
}
.table-end-gebucht {
    background-image: url("../images/table-reserviert-half-left.png");
    background-position: center;
}
.user-reservations-table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 4px 22px;
    text-align: center;
}
.user-reservations-table td, .user-reservations-table th{
    padding: 6px 22px;
}

.navbar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #000000;
    background-color: #c1e3dd;
}

.navbar-li {
    float: left;
    width: 16.66%;
}

.navbar-li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

.navbar-li a:hover {
    background-color: #9ccfc5;
}

.flat-div-middle-top-li {
    text-align: left;
}


a:link a:visited a:hover a:active{
    text-decoration: none;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    display: inline-block;
    line-height: 1;
    vertical-align: bottom;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
