@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    font-size: 20px;
    text-align: center;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    box-shadow: 0 0 50px #b5d2cd;
    margin-bottom: 60px;
}

.flat-div {
    width: 50%;
    height: 100px;
    position: relative;
    margin: auto;
}

.flat-div-left {
    float: left;
    width: 20%;
}

.flat-div-left img {
    height: 100px;
}

.flat-div-middle {
    float: left;
    width: 30%;
}

.flat-div-middle-top {
    font-size: 18px;
}

.flat-div-middle-bot {
    font-size: 10px;
}

.flat-div-right {
    float: left;
    font-size: 14px;
}

hr {
    width: 40%;
    margin-top: 40px;
    margin-bottom: 40px;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #000000;
    background-color: #c1e3dd;
}

li {
    float: left;
    width: 16.66%;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #9ccfc5;
}





/* links */
a:link a:visited a:hover a:active{
    text-decoration: none;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
